.stool {
  width: 50%;
  margin: auto;
  max-width: 4rem;
}

.discordia nav {
  margin-top: 1rem;
}

.discordia nav a {
  display: inline-block;
  width: 33%;
}

.discordia nav img:not(.stool) {
  margin: 1rem 0;
}
