article.content {
  margin-bottom: 15rem;
}

article footer {
  padding-top: 4rem;
  position: absolute;
  top: 100%;
}

aside.menu {
  display: inline-block;
  margin-bottom: 170px;
  padding-right: 1.5rem;
  vertical-align: top;
  width: 25%;
}

.chao {
  width: 100%;
}

.chao,
.ribbon {
  background-color: hsl(180, 15%, 40%);
  transition: all 2s ease-out;
  transition-property: background-color, transform;
}

aside.menu header {
  margin: 0 auto 1.5rem auto;
  max-width: 90%;
  min-height: 8rem;
  width: 13rem;
}

.menu nav a {
  display: block;
  padding: 0.35rem;
}

.menu nav small {
  border-bottom: thin solid lightgray;
  display: block;
  margin: 0.8rem 0;
  padding: 0.2rem 0;
  text-align: right;
}

.content {
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0 1.5rem 3rem;
  position: relative;
  width: 75%;
}

.pageContainer {
  margin: auto;
  max-width: 900px;
  padding: 3rem 1rem;
  position: relative;
  width: 100%;
}

.showMenuWrapper {
  left: calc(50% - 2.5rem);
  position: absolute;
  top: 0.75rem;
  padding-top: 0;
  transition: padding-top 0.5s linear;
  z-index: 470;
}
.showMenuWrapper.raised {
  padding-top: 1rem;
  position: absolute;
}
.showMenuWrapper.raised .chao {
  transform: rotateX(-180deg) rotateY(180deg);
}
.showMenuWrapper,
.showMenuWrapper * {
  border-radius: 50%;
}
button.chao.showMenu {
  background-image: url("/image/chao.png");
  background-size: cover;
  height: 5rem;
  width: 5rem;
  z-index: 23;
}

/* Small screen rules */
@media screen and (max-width: 767px) {
  aside.menu,
  .content {
    display: table;
  }

  .pageContainer {
    padding: 0.5rem;
  }

  aside.menu.isHidden {
    opacity: 0;
    z-index: 15;
  }

  aside.menu {
    background-color: hsl(48, 30%, 98%);
    border-top-left-radius: 50% 5rem;
    border-top-right-radius: 50% 5rem;
    border: 2px solid #ddd;
    box-shadow: #ddd 0 0 10px;
    font-size: 1.25em;
    margin: auto;
    margin-bottom: 0;
    opacity: 1;
    padding: 7.25rem 2rem 2rem;
    position: absolute;
    left: 11vw;
    top: 0.25rem;
    width: 78vw;
    z-index: 230;
  }
  article.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    width: 95%;
    z-index: 23;
  }
  article.content.blur {
    opacity: 0.6;
    filter: blur(3px);
  }

  nav a {
    padding: 0.6rem;
  }
}
