article.content {
  margin-bottom: 170px;
}

aside.menu {
  display: inline-block;
  padding-right: 1.5rem;
  vertical-align: top;
  width: 25%;
}

.chao {
  width: 100%;
}

.chao, .ribbon {
  background-color: hsl(180, 15%, 40%);
  transition: background-color 2s;
}

aside.menu header {
  margin: 0 auto 1.5rem auto;
  max-width: 90%;
  min-height: 8rem;
  width: 13rem;
}

nav a {
  display: table;
  padding: 0.35rem;
  padding-left: 0;
}

nav small {
  margin-top: 1rem;
  display: block;
}

.content {
  background-color: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  display: inline-block;
  padding: 0 1.5rem 3rem;
  position: relative;
  width: 75%;
}

.pageContainer {
  margin: auto;
  max-width: 900px;
  padding: 3rem 1rem;
  position: relative;
  width: 100%;
}

button.showMenu {
	background: #80808088 url('/image/list.png') no-repeat center;
	height: 50px;
	position: fixed;
	width: 50px;
	z-index: 23;
  background-position-x: 1.25rem;
  background-position-y: 1.25rem;
  background-size: 32px 30px;
  border-radius: 50%;
  height: 50px;
  opacity: 0.7;
  padding: 2.5rem;
  position: fixed;
  bottom: -0.7rem;
  right: -0.7rem;
  transition: opacity .3s;
  width: 50px;
  z-index: 23;
}

button.showMenu.isHidden {
  opacity: 0;
}

/* Small screen rules */
@media screen and (max-width: 767px) {
  aside.menu, .content {
    display: table;
  }

  .pageContainer {
    padding: 0.5rem;
  }

  aside.menu.isHidden {
    left: -50%;
    transition: top 3s;
  }

  aside.menu {
    background-color: #f2f1ed;
    border-top-left-radius: 50% 5rem;
    border-top-right-radius: 50% 5rem;
    border: thin solid #808080;
    border: thin solid #DDD;
    font-size: 1.25em;
    left: 50%;
    margin: auto;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    transition: left .3s;
    transform: translateX(-50%);
    width: 95%;
    max-width: 25rem;
    z-index: 23;
  }
  aside.menu header {
    margin-bottom: 0.75rem;
    width: 8rem;
  }
  article.content {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  nav a {
    padding: 0.6rem;
  }
}
