.season {
  grid-column: 1;
}

.day {
  background-color: white;
  border: thin solid #eee;
  border-radius: 3px;
  text-align: center;
  padding: 8px 2px;
  width: 100%;
}

.dayOfYear {
  color: hsl(0deg 0% 80%);
  font-size: 0.7em;
}

.focused {
  border-color: cadetblue;
  box-shadow: 0 0 4px cadetblue;
}

.moon {
  grid-column: 2;
}

.divider {
  background-color: honeydew;
  grid-column: span 7;
  padding: 0.5rem;
  margin: 0.5rem 0.25rem;
  text-align: center;
}

.null {
  background-color: black;
  color: white;
  font-weight: bold;
}

.recognition {
  background-color: plum;
}

.tooltip {
  display: flex;
  flex-direction: column;
}

.tooltip p {
  margin: 0;
}

.weekday {
  font-size: 1.5em;
  border-bottom: thin solid #ddd;
  width: 100%;
  text-align: center;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.grid {
  background-color: hsl(40deg 40% 95%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  padding: 6px;
}

.year {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0.5rem;
  text-align: center;
}

.yearButton {
  color: #222;
  font-size: 1rem;
  margin: 0 5px;
  padding: 6px;
}
