.season {
  grid-column: 1;
}

.day {
  background-color: white;
  border: thin solid #eee;
  border-radius: 3px;
  font-size: 1.1em;
  text-align: center;
  padding: 8px 2px;
  width: 100%;
}

.dayOfYear {
  color: hsl(0deg 0% 80%);
  font-size: 0.7em;
}

.focused {
  border-color: cadetblue;
  box-shadow: 0 0 4px cadetblue;
}

.focusInfo {
  background-color: #e9e9e9;
  border: thin solid #333;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  position: sticky;
  width: 100%;
}
.focusInfo p {
  margin: 0;
}

.moon {
  grid-column: 2;
}

.month {
  background-color: honeydew;
  grid-column: span 7;
  padding: 0.5rem;
  margin: 0.5rem 0.25rem;
  text-align: center;
}

.gap {
  grid-column: span 6;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.null {
  background-color: black;
  color: white;
  font-weight: bold;
}

.leap {
  background-color: plum;
}

.weekday {
  font-size: 1.5em;
  border-bottom: thin solid #ddd;
  width: 100%;
  text-align: center;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.grid {
  background-color: hsl(40deg 40% 95%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  padding: 6px;
}

.year {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0.5rem;
  text-align: center;
}

.yearButton {
  color: #222;
  font-size: 1rem;
  margin: 0 5px;
  padding: 6px;
}
