.ribbon {
    border-radius: 2px 10px 0 0;
    line-height: 2.75rem;
    height: 2.75rem;
    position: relative;
    color: white;
    padding: 0 30px;
    margin: 15px -2.25rem 30px;
}

.ribbon:before, .ribbon:after {
    border-color: transparent;
    border-style: solid;
    border-top-color: hsl(180, 10%, 30%);
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    transition: border-top-color 2s;
}

.ribbon:before {
    left: 0;
    border-width: .75rem 0 0 .75rem;
}

.ribbon:after {
    right: 0;
    border-width: .75rem .75rem 0 0;
}

header span {
    font-size: 1.25rem;
}

.fontControl {
  background: url('/image/svg/format_size.svg') center no-repeat;
  height: 2.75rem;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 1rem;
  width: 6rem;
}

.fontControl button {
  background-color: transparent;
  border-radius: 5px;
  font-family: Consolas;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2.75rem;
  line-height: 2.75rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5rem;
}

.fontControl button:disabled {
  color: black;
  opacity: 0.4;
}

.fontControl button:first-child {
  left: 0;
}

.fontControl button:last-child {
  right: 0;
}
