html {
  overflow-y:scroll;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

body {
  background: #F2F1ED;
  color: #34495e;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
}

a {
  color: #34495e;
}

a:hover {
  color: #27AE60;
}

a.next, a.prev {
  background-color: #F2F1ED;
  border: thin solid black;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1.5rem;
  padding: 5px;
  text-decoration: none;
}

a.next {
  float: right;
}

a.next:after {
  content: ' >';
}

a.prev:before {
  content: '< ';
}

blockquote {
  border-left: 3px solid #1A7440;
  padding-left: 15px;
  padding-bottom: 15px;
}

div, img {
  margin: auto;
  display: block;
}

hr {
  clear: both;
}

hr.end {
  height: 1rem;
}

img {
  max-width: 100%;
}

img.w50 {
  width: 50%;
}
img.w35 {
  width: 35%;
}
img.w25 {
  widtH: 25%;
}
img.o75 {
  opacity: 0.75;
}
img.o25 {
  opacity: 0.25;
}

img.left, img.right {
  width: 30%;
  margin: 0.5rem;
}

img.flush {
  margin: 0 -1.5rem;
  max-width: none;
  width: calc(100% + 3rem);
}

img.showInfo {
  margin-bottom: 3em;
}

li {
  margin-bottom: 0.5rem;
}

p {
  margin: 1.2rem 0;
}

ul, ol {
  margin: 0.5rem 1.5rem;
}

ul.soc {
  background: no-repeat right bottom url(/image/svg/stool.svg);
  background-size: 85px;
  min-height: 85px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.mirror {
  transform: scaleX(-1);
}

.mirrorY {
  transform: scaleY(-1);
}

.attribution {
  background-color: #EAEAEA;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding: 4px 10px;
}

blockquote + .attribution {
  border-left: 3px solid #1A7440;
  font-size: 0.9;
  margin-top: -15px;
  margin-bottom: 2rem;
  text-align: right;
}

img + .attribution {
  font-size: 0.9em;
  position: absolute;
  top: 100%;
  padding: 0.4em;
  text-align: center;
  widtH: 100%;
}

.license {
  background: no-repeat left url('/image/cc.png');
  margin-left: 1em;
  padding-left: 20px;
}

.prime {
  font-size: 3rem;
  text-align: center;
}

.scaps {
  font-variant: small-caps;
}
